
@import "tailwindcss";
@import './layouts/container.css';
@import './layouts/sidebar.css';
@import './override/reboot.css';



@theme{
  --color-primary :#181720;  
  --color-primary-light:#22212a; 
  --color-theme-magenta-blue:#583ebc;
} 


body{
  font-family: 'Poppins', sans-serif; 
  background-color: var(--color-primary);
}

@layer components {
  .container { 
    /* Control Outleth rutas */
    @apply max-w-[1200px] px-10 bg-white;
  }


  .landingpage .container {
    @apply max-w-[1320px];
  }

  html {
    @apply overflow-x-hidden;
  }
}