@import "tailwindcss";

@theme{
    --color-primary :#181720;  
    --color-primary-light:#22212a; 
    --color-theme-magenta-blue:#583ebc;
}

body{
    font-family: 'Poppins', sans-serif; 
    background-color: var(--color-primary);
}